.legend-box {
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
    -webkit-box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.16);
    box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.16);
}


.legend-title{
    color: #8ff0b7;
    font-size: 10pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.legend-text{
    color: #464646;
    font-size: 10pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.checkbox-tooltip, .filter-tooltip {

}

.checkbox-tooltip {
    width: 200px;
}

/* custom tickboxes

#custom_tickbox {
    width: 50px;
    height: 50px;
    background:url('../img/icons/checkbox_unchecked.svg') no-repeat;
}
#custom_tickbox.checked {
   width: 50px;
   height: 50px;
   background:url('../img/icons/checkbox_checked.svg') no-repeat;
}
*/

input.custom_tickbox[type="checkbox"]  {
    display: none;
}
label.custom_tickbox {
  cursor: pointer;
  color: blue;
}

input.custom_tickbox[type="checkbox"] + label{
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    background: url('../img/icons/checkbox_unchecked.svg') 0px center no-repeat;
}

input.custom_tickbox[type="checkbox"]:checked + label {
    background: url('../img/icons/checkbox_checked.svg') 0px center no-repeat;
}