.legend-title{
    color: #8ff0b7;
    font-size: 10pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.legend-box{
    color: #464646;
    font-size: 10pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}