.legend-box {
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
    -webkit-box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.16);
    box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.16);
}


.legend-title{
    color: #8ff0b7;
    font-size: 10pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.legend-text{
    color: #464646;
    font-size: 10pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}