/* custom CSS */
.map-legend {
  padding: 1rem 1rem;
}

.map-legend--highlight {
  font-weight: 700;
  font-style: italic;
}

.map-legend__text {
  position: relative;
}

.legend-color {
  height: .5rem;
  width: 3rem;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1rem;
}

.legend-color--green {
 background-color: #8DE6B4; 
}

.legend-color--gray {
  background-color: #C5C4CF; 
 }

.sidebar-panel {
  padding-right: 1.5rem;
}

#stateSelect.dropdown-button {
  color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28255, 255, 255%29'></polygon></svg>");
}

#stateSelect.dropdown-button:focus{
  color: #464646;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
}

body {
     padding: 0;
     margin: 0;
     color: #464646;
}
 html,body, #map {
     height: 100%;
     font: Helvetica, Arial,  sans-serif;
     font-size: 1.5vh;
     font-family: Helvetica, Arial, sans-serif;
     line-height: 150%;
}


#map-content{
    margin-top: 5px;
}

#map{
    height: 800px
}

.map-legend {
    background-color: white;
    border-radius: 1rem;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.left{
  left:0;
  width: 30%;
}

.right{
  right:0;
  width: 70%;
}

.level{
  text-align: center;
}

#sidebar .switch-paddle {
  border-radius: 100px;
  height: 1.5rem;
  width: 3.5rem;
}

#sidebar input:checked~.switch-paddle {
  border-radius: 100px;
  background-color: #1DD069;
}

#sidebar .switch-paddle::after {
  border-radius: 100px;
  width: 1rem;
  height: 1rem;
}

#sidebar .sidebar-levels {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar__btn {
  padding: 0 .25rem 1rem;
}

.sidebar__btn button {
  width: 100%;
  font-size: 10pt;
  font-weight: bold;
  padding: 12px 30px 12px 30px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #eeeff1;
  color: #464646;
}

.sidebar__btn.active button {
  background-color: #1DD069;
  color: #ffffff;
}

.filter {
  display: inline;
  width: 20rem;
  float: right;
  /*white-space: nowrap;
  padding: 0px 0px 20px 30px; /* top, right, bottom, left*/
}
.filter__input{
  width:45%;
}

button {
  outline: none;
}

.dropdown-button {
  border-radius: 4px;
  background-color: #1DD069;
  text-align: center;
  color: #464646;
  font-size: 10pt;
  font-weight: bold;
}

.select-items {
  background-color: #ff00ff;
}

.layers{
  margin-left: 15px;
  text-align: left;
}

.layer{
  margin-left: 30px;
  text-align: left;
}

.sidebar-panel {
  background-color: #eeeff1;
  font: Helvetica, Arial,  sans-serif;
  font-size: 10pt;
  font-family: Helvetica, Arial, sans-serif;
}

.sidebar-panel-item {
  height: 3rem;
  padding-top: 1rem;
}

.sidebar-panel-item-title {
  padding-left: 2.75rem;
  color: #464646;
  display: inline;
}

.sidebar-panel-item.is-active {
  border-left: .25rem solid #1DD069;
}

.sidebar-panel-item-button {
  float: right;
}

.sidebar-panel-content {
  background-color: #91919f;
  display: none;
}

.sidebar-dropdown {
  padding-top: 1rem;
  margin-top: .5rem;
  background-color: #f8f8f8;
}

.sidebar-accordion li.accordion-item {
  background-color: #eeeff1;
}

.sidebar-accordion li.accordion-item.is-active {
  border-left: .25rem solid #1DD069;
}

.sidebar-accordion li.accordion-item .accordion-title {
  padding-left: 3rem;
  color: #464646;
  font-size: 10pt;
}

.sidebar-accordion li.accordion-item.is-active .accordion-title {
  padding-left: 2.75rem;
}

 .noUi-connect {
     background: #210B61;
}

.noUi-target {
    margin-bottom: 0rem;
    margin-top: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


 .switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
}
 .switch input {
    display:none;
}

 input:checked + .slider {
     background-color: #210B61;
}
 input:focus + .slider {
     box-shadow: 0 0 1px #2196F3;
}
 input:checked + .slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
}
