body {
     padding: 0;
     margin: 0;
     color: #464646;
}
 html,body, #map {
     height: 100%;
     font: Helvetica, Arial,  sans-serif;
     font-size: 1.5vh;
     font-family: Helvetica, Arial, sans-serif;
     line-height: 150%;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.left{
  left:0;
  width: 30%;
}

.right{
  right:0;
  width: 70%;
}

.level{
  text-align: center;
}

#sidebar .sidebar-levels {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar__btn {
  padding: 0 .25rem 1rem;
}

.sidebar__btn button {
  width: 100%;
  font-size: 10pt;
  font-weight: bold;
  padding: 12px 30px 12px 30px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #eeeff1;
  color: #464646;
}

.sidebar__btn.active button {
  background-color: #1DD069;
  color: #ffffff;
}

.layers{
  margin-left: 15px;
  text-align: left;
}

.layer{
  margin-left: 30px;
  text-align: left;
}

.sidebar-accordion li.accordion-item {
  background-color: #eeeff1;
}

.sidebar-accordion li.accordion-item .accordion-title {
  padding-left: 3rem;
  color: #464646;
  font-size: 10pt;
}

 .noUi-connect {
     background: #210B61;
}

.noUi-target {
    margin-bottom: 75px;
    margin-top: 50px;
}


 .switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
}
 .switch input {
    display:none;
}
 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
     border-radius: 34px;
}
 .slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
     border-radius: 50%;
}
 input:checked + .slider {
     background-color: #210B61;
}
 input:focus + .slider {
     box-shadow: 0 0 1px #2196F3;
}
 input:checked + .slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
}
