<!DOCTYPE html>
<html>

<head>
	<meta charset=utf-8 />
    <title>{% block title %}{% endblock %}</title>

	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script type=text/javascript>
           $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
    {% block head %}{% endblock %}
</head>

<body>

  <div class="reveal level" id="warning-browser-not-supported" data-reveal>
    <h2>Warning</h2>
    <p>This webmap is not optimized for browsers other than Chrome, Firefox and Opera.</p>
    <p>For the full functionality please visit from one of these browsers.</p>
    <div class="sidebar__btn">
      <button data-close aria-label="Close modal" type="button">
        Understood
      </button>
    </div>
  </div>


  <div class="reveal level" id="video-popup" data-reveal>
    <h2>Welcome</h2>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/r2Yb_zt2x9w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  {% block content %}{% endblock %}


</body>

</html>
