<!DOCTYPE html>
<html>

<head>
	<meta charset=utf-8 />
    <title>{% block title %}{% endblock %}</title>

	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script type=text/javascript>
           $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ==" crossorigin="anonymous"></script>

    {% block head %}{% endblock %}
</head>

<body>

  {% include 'popups.html' %}

  {% block content %}{% endblock %}


</body>

</html>
