  <div class="reveal level" id="warning-browser-not-supported" data-reveal>
    <h2>Warning</h2>
    <p>This webmap is not optimized for browsers other than Chrome, Firefox and Opera.</p>
    <p>For the full functionality please visit from one of these browsers.</p>
    <div class="sidebar__btn">
      <button data-close aria-label="Close modal" type="button">
        Understood
      </button>
    </div>
  </div>


<div class="reveal level grid-x" id="video-popup" data-reveal>
  <div class="cell popup-title">Get a tour on the NIGERIA SE4ALL map</div>
  <div class="cell">
    <iframe id="nigeria-se4all-video" width="600" height="338" src="https://www.youtube-nocookie.com/embed/r2Yb_zt2x9w?autoplay=1&enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <p class="cell">
      <img src="{{ url_for('static', filename='img/icons/i_skip_g.svg') }}">
      <button data-close aria-label="Close modal" type="button">
        Skip
      </button></p>
</div>