 {% macro input(id, label, visible=['national', 'state', 'village'],filter_func=False,help_icon=False, help_text="") -%}
    <div class="grid-x">
      <div class="cell sidebar-panel {{ assign_visibility(visible) }}" id="{{ id }}TopLevelPanel">
        <div class="grid-x sidebar-panel-item is-active" id="{{ id }}Panel" data-accordion-item>
          <div class="cell small-8">
            <p href="#" class="sidebar-panel-item-title">
              {{ label }}
              {% if help_icon %}
                <button type="button" data-toggle="{{ id }}-filter-info">
                  <img src="{{ url_for('static', filename='img/icons/i_info.svg') }}">
                </button>
                <div class="dropdown-pane checkbox-tooltip" id="{{ id }}-filter-info" data-dropdown data-hover="true" data-hover-pane="true" data-position="right" data-alignment="bottom">
                  {{ help_text|safe }}
                </div>
              {% endif %}
            </p>
          </div>
          {% if filter_func %}
          <div class="cell small-2 sidebar-panel-item-icon">
            <img
                    id="{{ id }}_filter"
                    class="filter_icon"
                    src="{{ url_for('static', filename='img/icons/i_funnel_gray.svg') }}"
                    onclick="{{ id }}_filter_fun()"
                    title="Click on the funnel to expand filters"
            >
          </div>
          {% endif %}
          <div class="cell small-2">
            <div class="sidebar-panel-item-button">
              <input class="switch-input" id="{{ id }}Checkbox" type="checkbox" onclick="{{ id }}_cb_fun(trigger='user')" value="false">
              <label class="switch-paddle" for="{{ id }}Checkbox">
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
{%- endmacro %}


{% macro filter_title(id, label, name, spin_id, visible={'state': 'show', 'village': 'show'}) -%}
<div class="grid-x">
  <div class="cell {{ assign_visibility(visible) }}">
    <div class="sidebar-panel sidebar-panel-content content-filter hidden-filter sidebar-panel-filter-label" name="{{ name }}">
      <div class="sidebar-panel-item sidebar-panel-item-filter grid-x">
        <div href="#" class="cell small-10 sidebar-panel-item-title sidebar-panel-item-title-filter">
          {{ label }}<span id="{{ id }}"></span>
        </div>
        <div class="cell small-2">
          <div id="{{ spin_id }}" class="sp sp-circle is-hidden"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}


{% macro filter_opt(id, label, name, visible={'state': 'show', 'village': 'show'}, help_icon=False, help_text="") -%}
<div class="grid-x">
  <div class="cell {{ assign_visibility(visible) }}">
    <div class="sidebar-panel sidebar-panel-content content-filter hidden-filter" name="{{ name }}">
      <div class="sidebar-panel-item sidebar-panel-item-filter">
        <p href="#" class="sidebar-panel-item-title-filterlabel">
          {{ label }}
          {% if help_icon %}
          <button type="button" data-toggle="{{ id }}-filter-info">
            <img src="{{ url_for('static', filename='img/icons/i_info.svg') }}">
          </button>
          <div class="dropdown-pane filter-tooltip" id="{{ id }}-filter-info" data-dropdown data-hover="true" data-hover-pane="true" data-position="right" data-alignment="bottom">
            {{ help_text|safe }}
          </div>
          {% endif %}
        </p>
        <div class="filter">
          <div class="filter__slider" id="{{ id }}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}


{% macro filter_download_btn(id, label, name, visible={'state': 'show', 'village': 'show'}) -%}
<div class="grid-x">
  <div class="cell {{ assign_visibility(visible) }}">
    <div class="sidebar-panel sidebar-panel-content content-filter hidden-filter" name="{{ name }}">
      <div class="sidebar-panel-item sidebar-panel-item--download">
        <div id="{{ id }}" class="download__btn">
          <button onclick="download_clusters_fun()">{{ label}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
