 {% macro input(id, label, visible=['national', 'state', 'village'],filter_func=False, help_text="") -%}
    <div class="grid-x" title="{{ label if help_text == '' else help_text }}">
      <div class="cell sidebar-panel {{ assign_visibility(visible) }}">
        <div class="grid-x sidebar-panel-item is-active" id="{{ id }}Panel" data-accordion-item>
          <div class="cell small-8">
            <p href="#" class="sidebar-panel-item-title">{{ label }}</p>
          </div>
          {% if filter_func %}
          <div class="cell small-2 sidebar-panel-item-icon">
            <img onclick="{{ id }}_filter_fun()" class="filter_icon" id="{{ id }}_filter" title="Click on the funnel to expand filters" src="{{ url_for('static', filename='img/icons/i_funnel_gray.svg') }}">
          </div>
          {% endif %}
          <div class="cell small-2">
            <div class="sidebar-panel-item-button">
              <input class="switch-input" id="{{ id }}Checkbox" type="checkbox" onclick="{{ id }}_cb_fun()" value="false">
              <label class="switch-paddle" for="{{ id }}Checkbox">
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
{%- endmacro %}


